<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>signin</title>
</head>
<body>

	<h1>Rekisteröityminen</h1>

  
	<form th:object="${user}" th:action="@{signin}" action="#" method="post">
		<label for="firstname">Firstname</label>
		<input id="firstname" type="text" th:field="${user.firstname}" /><br>
		<label for="surname">Lastname</label>
		<input id="surname" type="text" th:field="${user.surname}" /><br>
		<label for="username">Username</label>
		<input id="username" type="text" th:field="${user.username}" /><br>
		<label for="password">Password</label>
		<input id="password" type="text" th:field="${user.passwordHash}" /><br>
	<label for="rpassword"> Repeat Password</label>
		<input id="rpassword" type="text" th:field="${user.passwordHash}" /><br>
		<label for="role">User role</label>
		<input id="role" type="text" th:field="${user.role}" /><br>
		
		
		<input type="submit" value="Submit" />
		<input type="reset" value="Reset" />
	</form>


</body>
</html>